/*MAIN*/
.main{
    background-color: rgb(235, 178, 110);
    padding-left: 3rem;
    padding-right: 3rem;
    background: linear-gradient(175deg, rgba(250,131,12,1) 0%, rgba(236,187,40,1) 35%, rgba(255,183,0,1) 100%);
    height: 100vh;
    img{
        height: 80vh;
    }
}


.main-tienda{
    background-color: rgb(235, 178, 110);
    padding-left: 3rem;
    padding-right: 3rem;
    background: linear-gradient(175deg, rgba(250,131,12,1) 0%, rgba(236,187,40,1) 35%, rgba(255,183,0,1) 100%);
    height: 500px;
}


.main-tienda-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    img{
        width: 10rem;
        height: 10rem;
    }
}
