/*MAPS*/

$mapRedes:(facebook: rgb(48, 48, 207), twitter: rgb(73, 174, 241), instagram: rgb(236, 38, 71));

@each $redSocial, $color in $mapRedes {
    .#{$redSocial}--red {
        color:$color;
    }
}

/*map-get*/

$fuente:(
    color:rgb(199, 77, 77),
    fuente: 1rem,
    tipo: italic,
);

.caracter{
    background-color: map-get($fuente , color );
    font-style: map-get($fuente, tipo );
    
}