*{
    padding: 0px;
    margin: 0px;
}


@import "header";
@import "main";
@import "footer";

/*iconos*/
.iconos{
    display: flex;
    flex-direction: column;
    
}
.bi{
    font-size: 3rem;
    text-decoration: none;
}

.bi-twitter{
    color: rgb(93, 152, 207);

}

.bi-facebook{
    color: rgb(68, 68, 235);

}

.bi-instagram{
    color: crimson;
}
.iconos a:hover{
    transform: scale(1.02);
}


/*formulario*/

.div-padre{
    display: flex;
    div{
        margin: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }
}

/*GRID*/

.grid{
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 4;
    grid-template-areas: 
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer";
}

header{
    grid-area: header ;

}

main{
    grid-area: main;
    height: 400px;
}

footer{
    grid-area: footer;
    height: 5rem;
}


.grids{
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 4;
    grid-template-areas: 
    "header header header"
    "main main aside"
    "main main aside"
    "footer footer footer";
}

aside{
    grid-area: aside;
}

.aside{
    background-color: rgb(235, 178, 110);
    text-align: center;
    border-style: solid;
}




/*media queries*/
@media only screen and (max-width: 748px){

    .main-tienda{
        background-color: rgb(235, 178, 110);
        background: linear-gradient(175deg, rgba(250,131,12,1) 0%, rgba(236,187,40,1) 35%, rgba(255,183,0,1) 100%);
        overflow: scroll;
    }
    
    
    .main-tienda-div{
        flex-direction: column;
        
        div{
            width: 20rem;
            height: 20rem;
        }
    }

.querie{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-around;
    height: 6rem;
}
.logo{
    display: flex;
    img{
        width: 4rem;
        height: 4rem;
    }
}

li{
    padding: 2px;
    display: flex;
    flex-direction: row;
}

.grids{
    grid-template-columns: 8rem 8rem 8rem;
    grid-template-rows: 3fr 8fr 3fr 3fr;
    display: grid;
    grid-template-areas:
    "header header header"
    "main main main"
    "aside aside aside"
    "footer footer footer";
}

header{
    grid-area: header;
    position: relative;
}

main{
    grid-area: main;
    position: relative;
}

aside{
    grid-area: aside;
    position: relative;
}

footer{
    grid-area: footer;
    position: relative;
}

ul{
    display: flex;
    flex-direction: column;
}

li{
    width: 0.1rem;
}

}

