* {
  padding: 0px;
  margin: 0px;
}

/**HEADER**/
.header {
  background-size: cover;
  background-image: url("../Imagenes/birrafondo.jfif");
  background-color: darkgoldenrod;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header h1 {
  text-align: justify;
  text-transform: uppercase;
  color: brown;
  font-size: 2rem;
  padding: 1rem;
}

.header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tamanioimagen {
  height: 20px;
  width: 20px;
}

.header .navbar {
  background-color: transparent !important;
}

/*BODY*/
body {
  font-family: 'Roboto Condensed', sans-serif;
}

/*MAIN*/
.main, .nuevoEstilo {
  background-color: #ebb26e;
  padding-left: 3rem;
  padding-right: 3rem;
  background: linear-gradient(175deg, #fa830c 0%, #ecbb28 35%, #ffb700 100%);
  height: 100vh;
}

.main img, .nuevoEstilo img {
  height: 80vh;
}

.main-tienda {
  background-color: #ebb26e;
  padding-left: 3rem;
  padding-right: 3rem;
  background: linear-gradient(175deg, #fa830c 0%, #ecbb28 35%, #ffb700 100%);
  height: 500px;
}

.main-tienda-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-tienda-div img {
  width: 10rem;
  height: 10rem;
}

/*FOOTER*/
.footer {
  background-color: black;
  color: blanchedalmond;
  background: radial-gradient(circle, black 0%, #1e1e22 35%, #585a5b 100%);
}

.footer ul {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer li {
  padding: 2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.footer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*MAPS*/
.facebook--red {
  color: #3030cf;
}

.twitter--red {
  color: #49aef1;
}

.instagram--red {
  color: #ec2647;
}

/*map-get*/
.caracter {
  background-color: #c74d4d;
  font-style: italic;
}

.nuevoEstilo {
  font-style: italic;
}

/*mixin*/
.nosotrosMain {
  font-family: impact;
  font-size: 2rem;
}

/*iconos*/
.iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bi {
  font-size: 3rem;
  text-decoration: none;
}

.bi-twitter {
  color: #5d98cf;
}

.bi-facebook {
  color: #4444eb;
}

.bi-instagram {
  color: crimson;
}

.iconos a:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

/*formulario*/
.div-padre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.div-padre div {
  margin: 1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*GRID*/
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3;
      grid-template-columns: 3;
  -ms-grid-rows: 4;
      grid-template-rows: 4;
      grid-template-areas: "header header header" "main main main" "main main main" "footer footer footer";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  height: 400px;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  height: 5rem;
}

.grids {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3;
      grid-template-columns: 3;
  -ms-grid-rows: 4;
      grid-template-rows: 4;
      grid-template-areas: "header header header" "main main aside" "main main aside" "footer footer footer";
}

aside {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: aside;
}

.aside {
  background-color: #ebb26e;
  text-align: center;
  border-style: solid;
}

.nombre--tam {
  size: 3rem;
}

.apellido--tam {
  size: 3rem;
}

.email--tam {
  size: 1rem;
}

/*media queries*/
@media only screen and (max-width: 748px) {
  .main-tienda {
    background-color: #ebb26e;
    background: linear-gradient(175deg, #fa830c 0%, #ecbb28 35%, #ffb700 100%);
    overflow: scroll;
  }
  .main-tienda-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-tienda-div div {
    width: 20rem;
    height: 20rem;
  }
  .querie {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 6rem;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logo img {
    width: 4rem;
    height: 4rem;
  }
  li {
    padding: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .grids {
    -ms-grid-columns: 8rem 8rem 8rem;
        grid-template-columns: 8rem 8rem 8rem;
    -ms-grid-rows: 3fr 8fr 3fr 3fr;
        grid-template-rows: 3fr 8fr 3fr 3fr;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header header" "main main main" "aside aside aside" "footer footer footer";
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header;
    position: relative;
  }
  main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: main;
    position: relative;
  }
  aside {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: aside;
    position: relative;
  }
  footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer;
    position: relative;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  li {
    width: 0.1rem;
  }
}
/*# sourceMappingURL=estilos.css.map */