* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Source Serif 4', sans-serif;
  font-weight: 400;
  font-style: italic;
}

/*Movil*/
@media (max-width: 576px) {
  /**HEADER**/
  .header {
    background-color: #fa830c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header h1 {
    text-align: justify;
    text-transform: uppercase;
    color: brown;
    font-size: 2rem;
    padding: 1rem;
  }
  .header div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header img {
    height: 50px;
    width: 50px;
  }
  .header a {
    text-decoration: none;
  }
  .header nav {
    font-size: larger;
  }
  .header .navbar {
    background-color: transparent !important;
  }
  /*BODY*/
  body {
    font-family: 'Roboto Condensed', sans-serif;
  }
  /*MAIN*/
  .main {
    background-color: #ebb26e;
    background: linear-gradient(175deg, #fa830c 0%, #ecbb28 35%, #ffb700 100%);
  }
  .main img {
    max-width: 100%;
    max-height: 100%;
    padding: 1rem;
  }
  .main h2 {
    font-style: oblique;
    padding: 1rem;
    text-align: center;
    text-shadow: #16ac37;
  }
  .main__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .main__tienda {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: linear-gradient(175deg, #fa830c 0%, #ecbb28 35%, #ffb700 100%);
  }
  .imgMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: small;
  }
  .imgMain img {
    width: 100px;
    height: 100px;
  }
  .aside {
    background-color: #ebb26e;
    background: linear-gradient(175deg, #fa830c 0%, #ecbb28 35%, #ffb700 100%);
  }
  .section {
    background-image: url("/imagenes/brindis.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
  }
  .section p {
    color: #13130c;
    font-size: 5rem;
    font-style: oblique;
    padding-left: 1rem;
    font-family: fantasy;
  }
  .section button {
    width: 8rem;
    height: 8rem;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 3rem;
    padding-left: 5rem;
    color: #fce9e9;
    font-family: fantasy;
    font-style: oblique;
  }
  .section section {
    padding-top: 20rem;
  }
  .div--beneficios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .tamanioProducto {
    width: 400px;
    height: 500px;
  }
  .tiendaFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .tiendaFlex--div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  h4 {
    text-align: center;
  }
  .nuevoEstilo {
    height: 40vh;
  }
  .mainNosotros {
    height: 40vh;
  }
  /*FOOTER*/
  .footer {
    background-color: black;
    color: blanchedalmond;
    background: radial-gradient(circle, black 0%, #1e1e22 35%, #585a5b 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__div1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__div1 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .footer__div2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer ul {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer li {
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  .footer p {
    text-align: center;
  }
  .mainNosotros {
    height: 50vh;
  }
  .nuevoEstilo {
    height: 20vh;
  }
  .section {
    background-position-x: center;
  }
  .ocultarMovil {
    display: none;
  }
  .main__tienda {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__tienda img {
    width: 300px;
    height: 300px;
  }
  .card .width {
    width: 3rem;
  }
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 2fr 2fr 2fr;
        grid-template-rows: 2fr 2fr 2fr 2fr;
        grid-template-areas: "header" "main" "aside" "footer";
  }
  .grid header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
  .grid main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: main;
  }
  .grid aside {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: aside;
  }
  .grid footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: footer;
  }
}

/*TABLET*/
@media (min-width: 768px) {
  /**HEADER**/
  .header {
    background-color: #fa830c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header h1 {
    text-align: justify;
    text-transform: uppercase;
    color: brown;
    font-size: 2rem;
    padding: 1rem;
  }
  .header div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header img {
    height: 50px;
    width: 50px;
  }
  .header a {
    text-decoration: none;
  }
  .header nav {
    font-size: larger;
  }
  .header .navbar {
    background-color: transparent !important;
  }
  /*BODY*/
  body {
    font-family: 'Roboto Condensed', sans-serif;
  }
  /*MAIN*/
  .main {
    background-color: #ebb26e;
    background: linear-gradient(175deg, #fa830c 0%, #ecbb28 35%, #ffb700 100%);
  }
  .main img {
    max-width: 100%;
    max-height: 100%;
    padding: 1rem;
  }
  .main h2 {
    font-style: oblique;
    padding: 1rem;
    text-align: center;
    text-shadow: #16ac37;
  }
  .main__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .main__tienda {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: linear-gradient(175deg, #fa830c 0%, #ecbb28 35%, #ffb700 100%);
  }
  .imgMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: small;
  }
  .imgMain img {
    width: 100px;
    height: 100px;
  }
  .aside {
    background-color: #ebb26e;
    background: linear-gradient(175deg, #fa830c 0%, #ecbb28 35%, #ffb700 100%);
  }
  .section {
    background-image: url("/imagenes/brindis.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
  }
  .section p {
    color: #13130c;
    font-size: 5rem;
    font-style: oblique;
    padding-left: 1rem;
    font-family: fantasy;
  }
  .section button {
    width: 8rem;
    height: 8rem;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 3rem;
    padding-left: 5rem;
    color: #fce9e9;
    font-family: fantasy;
    font-style: oblique;
  }
  .section section {
    padding-top: 20rem;
  }
  .div--beneficios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .tamanioProducto {
    width: 400px;
    height: 500px;
  }
  .tiendaFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .tiendaFlex--div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  h4 {
    text-align: center;
  }
  .nuevoEstilo {
    height: 40vh;
  }
  .mainNosotros {
    height: 40vh;
  }
  /*FOOTER*/
  .footer {
    background-color: black;
    color: blanchedalmond;
    background: radial-gradient(circle, black 0%, #1e1e22 35%, #585a5b 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__div1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__div1 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .footer__div2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer ul {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer li {
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  .footer p {
    text-align: center;
  }
  .ocultarMovil {
    display: none;
  }
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .main__tienda {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/*PC*/
@media (min-width: 1200px) {
  /**HEADER**/
  .header {
    background-color: #fa830c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header h1 {
    text-align: justify;
    text-transform: uppercase;
    color: brown;
    font-size: 2rem;
    padding: 1rem;
  }
  .header div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header img {
    height: 50px;
    width: 50px;
  }
  .header a {
    text-decoration: none;
  }
  .header nav {
    font-size: larger;
  }
  .header .navbar {
    background-color: transparent !important;
  }
  /*BODY*/
  body {
    font-family: 'Roboto Condensed', sans-serif;
  }
  /*MAIN*/
  .main {
    background-color: #ebb26e;
    background: linear-gradient(175deg, #fa830c 0%, #ecbb28 35%, #ffb700 100%);
  }
  .main img {
    max-width: 100%;
    max-height: 100%;
    padding: 1rem;
  }
  .main h2 {
    font-style: oblique;
    padding: 1rem;
    text-align: center;
    text-shadow: #16ac37;
  }
  .main__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .main__tienda {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: linear-gradient(175deg, #fa830c 0%, #ecbb28 35%, #ffb700 100%);
  }
  .imgMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: small;
  }
  .imgMain img {
    width: 100px;
    height: 100px;
  }
  .aside {
    background-color: #ebb26e;
    background: linear-gradient(175deg, #fa830c 0%, #ecbb28 35%, #ffb700 100%);
  }
  .section {
    background-image: url("/imagenes/brindis.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
  }
  .section p {
    color: #13130c;
    font-size: 5rem;
    font-style: oblique;
    padding-left: 1rem;
    font-family: fantasy;
  }
  .section button {
    width: 8rem;
    height: 8rem;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 3rem;
    padding-left: 5rem;
    color: #fce9e9;
    font-family: fantasy;
    font-style: oblique;
  }
  .section section {
    padding-top: 20rem;
  }
  .div--beneficios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .tamanioProducto {
    width: 400px;
    height: 500px;
  }
  .tiendaFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .tiendaFlex--div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  h4 {
    text-align: center;
  }
  .nuevoEstilo {
    height: 40vh;
  }
  .mainNosotros {
    height: 40vh;
  }
  /*FOOTER*/
  .footer {
    background-color: black;
    color: blanchedalmond;
    background: radial-gradient(circle, black 0%, #1e1e22 35%, #585a5b 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__div1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__div1 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .footer__div2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer ul {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer li {
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  .footer p {
    text-align: center;
  }
  .ocultarDiv {
    display: none;
  }
  .ocultarMovil {
    display: contents;
  }
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .main img {
    width: 100%;
    height: 400px;
    padding: 1rem;
  }
  .tamanio {
    width: 300px;
    height: 200px;
  }
}
/*# sourceMappingURL=estilos.css.map */