/*FOOTER*/

.footer{
    background-color: black;
    color: blanchedalmond;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(30,30,34,1) 35%, rgba(88,90,91,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .footer__div1{
        display: flex;
        flex-direction: column;
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }

    .footer__div2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        h4{

        }
    }
    ul{
        text-align: center;
        display: flex;
        justify-content: center;
    }
    li{
        padding: 2rem;
        text-decoration: none;
        text-transform: uppercase;
    }
    p{
        text-align: center;
    
    }
}

