/**HEADER**/

.header{
    background-color: rgb(250,131,12);
    display: flex;
    justify-content: space-between;
    h1{
        text-align: justify;
        text-transform: uppercase;
        color: brown;
        font-size: 2rem;
        padding: 1rem;
    }
    div{
        display: flex;
    }
    img{
        height: 50px;
        width: 50px;
    }
}




.header .navbar {
    background-color: transparent !important;
  }
/*BODY*/
body{
    font-family: 'Roboto Condensed', sans-serif;
}

